@using Overpass.Modelli.Models
@using OverpassAPI.ViewModels
@model StradeOverpassElencoStradeViewModel

@{
	Layout = null;
}
<html>
<head>
	<title>Elenco Strade Ancona</title>
</head>

<body>
	<h1>Pagina Elenco Strade Ancona</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>ID</th>
				<th>Nome</th>
				<th>Tipo Strada</th>
				<th>Massima Velocità</th>
				<th>Incrocio-Svincolo</th>
				<th>Illuminazione</th>
				<th>Corsia</th>
				<th>Accesso</th>
				<th>Percorso Ciclabile</th>
				<th>Percorso Pedonale</th>
				<th>Destinazione</th>
				<th>Accessibilità</th>
				<th>Nodi Associati</th>
				<th>Altre Informazioni</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var strada in Model.ElencoStrade.Where(s => s.tags != null))
			{
				<tr>
					<td>@strada.type</td>
					<th>@strada.id</th>
					<td>@strada.tags.name</td>
					<td>@strada.tags.highway</td>
					<td>@strada.tags.maxspeed</td>
					<td>@strada.tags.junction</td>
					<td>@strada.tags.lit</td>
					<td>@strada.tags.lanes</td>
					<td>@strada.tags.access</td>
					<td>@strada.tags.bicycle</td>
					<td>@strada.tags.foot</td>
					<td>@strada.tags.destination</td>
					<td>@strada.tags.wheelchair</td>
					<td>
					@foreach (var nodo in strada.nodes)
					{
						<p>[@nodo.ToString()]</p>
					}
					</td>
					<td>@strada.tags.tourism @strada.tags.leisure @strada.tags.historic @strada.tags.sport @strada.tags.building</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>


