@using Overpass.Modelli.Models
@using OverpassAPI.ViewModels
@model NodiOverpassFiltraNodiViewModel

@{
	Layout = null;
}
<html>
<head>
	<title>Elenco Filtrato di Nodi Ancona</title>
</head>

<body>
	<h1>Pagina di Elenco Filtrato dei Punti di Interesse di Ancona</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>ID</th>
				<th>Lat, Lon</th>
				<th>Nome/Nome Locale</th>
				<th>Indirizzo</th>
				<th>Tipo Nodo</th>
				<th>Numero di Telefono</th>
				<th>Sito Web</th>
				<th>Orari di Apertura</th>
				<th>Accessibilità</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var nodo in Model.ElencoFiltrato.Where(n => n.tags != null))
			{
				<tr>
					<td>@nodo.type</td>
					<td>@nodo.id</td>
					<td>@nodo.lat , @nodo.lon</td>
					<td>@nodo.tags.name </td>
					<td>@nodo.tags.street, @nodo.tags.housenumber, @nodo.tags.city, @nodo.tags.postcode</td>
					@if (@nodo.tags.amenity != null)
					{
						<td>@nodo.tags.amenity</td>
					}
					else if (@nodo.tags.tourism != null)
					{
						<td>@nodo.tags.tourism</td>
					}
					else if (@nodo.tags.leisure != null)
					{
						<td>@nodo.tags.leisure</td>
					}
					<td>@nodo.tags.phone</td>
					<td>@nodo.tags.website</td>
					<td>@nodo.tags.opening_hours</td>
					<td>@nodo.tags.wheelchair</td>

				</tr>
			}
		</tbody>
	</table>
</body>
</html>

